<style>
    h1 {
        color: black;
        font-weight: bold;
    }
    .text {
        color: black;
        font-size: 150%;
    }
</style>

<div class="jumbotron">
    <div class="container">
<h1>About</h1>
<p class="text">Rewbi is an online social media site which allows users to connect with 
friends<br> and family as well as meet new users under the "Explore" navigation.</p>
<br>
<p class="text">The name "Rewbi" derives from Ruby on Rails, a web programming language <br> used
to create the social media site. Rewbi also allows the user to give gems <br> when 
they feel positively about a comment replacing the original "like" symbol <br> on
other media platforms.</p>
<br>
<p class="text">Experience the perspective of others, never missing the latest events or gossip <br> that gets around.</p>
    </div>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a href="/developers"><span aria-hidden="true">&larr;</span> Developers</a></li>
    <li class="next"><a href="/help">Help <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>