<style>
    h1 {
        color: black;
        font-weight: bold;
    }
    .text {
        color: black;
        font-size: 150%;
    }
</style>

<div class="jumbotron">
    <div class="container">
<h1>Advertise</h1>
<p class="text">For promotions or advertisements, please contact the site at admin@rewbi.com.</p>
    </div>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a href="/terms"><span aria-hidden="true">&larr;</span>Terms</a></li>
    <li class="next"><a href="/developers">Developers<span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>