<style>
    h1 {
        color: black;
        font-weight: bold;
    }
    .text {
        color: black;
        font-size: 150%;
    }
</style>

<div class="jumbotron">
    <div class="container">
<h1>Cookies</h1>
<p class="text">We use several cookies in order to deliver a good experience for you. <br> Such cookies include storing data about 
sign in locations in order to <br> inform you of unaware logins, as well as requesting methods and <br> remember sign ins in order to made
the experience on Rewbi more convinient.</p>
<br>

    </div>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a href="/help"><span aria-hidden="true">&larr;</span>Help</a></li>
    <li class="next"><a href="/terms">Terms<span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>