<style>
    h1 {
        color: black;
        font-weight: bold;
    }
    .text {
        color: black;
        font-size: 150%;
    }
</style>

<div class="jumbotron">
    <div class="container">
<h1>Developers</h1>
<p class="text">We aren't currently hiring developers at the moment, but if you would like to inquire <br> them email the head admin
@ jmcneill@orangehome.co.uk</p>

    </div>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a href="/advertise"><span aria-hidden="true">&larr;</span>Advertise</a></li>
    <li class="next"><a href="/about">About<span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>