<style>
    h1 {
        color: black;
        font-weight: bold;
    }
    .text {
        color: black;
        font-size: 150%;
    }
</style>

<div class="jumbotron">
    <div class="container">
<h1>Help</h1>
<p class="text">Home - On the home menu you are able to view messages from users which <br> you have followed. You can also view
 information about how many posts you <br> have sent or how many people you are following. Users are also able to send <br> posts.</p>
<br>
<p class="text">Explore - Posts from all users (that's users who you aren't following) are <br> published on this page. A list of
users who are on the site will also be visible <br> enabling you to discover new friends.</p>
<br>
<p class="text">Profile - Shows your profile picture and background picture. You can also edit <br> your profile.</p>
<br>
<p class="text">Editing your profile - Here you can edit your email, username or if unhappy, <br> close your Rewbi account. </p>
    </div>
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a href="/about"><span aria-hidden="true">&larr;</span>About</a></li>
    <li class="next"><a href="/cookies">Cookies<span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>