<% if !user_signed_in? # If the user isn't signed in %>

<style>
        body {
            background: linear-gradient(
            rgba(0,0,0, 0.5),
            rgba(0,0,0, 0.5)
            ), url("/bj.jpg") no-repeat center center fixed;
        
        ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1 {
        color: white;
        font-weight: bold;
    }
    .container-index {
        margin-right: 15%;
        margin-left: 15%;
    }
    .text {
        color: white;
        font-size: 150%;
    }
    .footer-links {
        text-aligns: center;
        color: white;
        margin-top: 10%;
    }
    .log-in {
        float: right;
        width: 300px;
        height: 150px;
    }
    .sign-up {
        float: right;
        width: 300px;
        height: 250px;
    }
    a {
       color: white; 
    }
    a:link {
    color: white;
    }
    a:visited {
    color: white;
    }
    a:hover {
    color: white;
    }
</style>

 

<div class="container-index row">
   <div class="col-sm-6">
        <h1>Welcome to Rewbi.</h1>
        <p class="text">
            Let's do something different. Instead of liking your friends<br>
            comments, how about you give them gems? Rewbi provides <br>
            a common interface of most social medias however delivers a <br>
            more seamless and responsive way to connect with your friends.
        </p>
   </div>
  
    
    <center>
        <div class="col-sm-12">
            <p class="footer-links"><a href="/about">About</a> | <a href="/help">Help</a> | <a href="/cookies">Cookies</a> | <a href="/terms">Terms and Privacy</a> | <a href="/advertise">Advertise</a> | <a href="/developers">Developers</a> | © <%= Time.now.year %> Rewbi</p>
        </div>
    </center>
    
</div>

<% else # If signed in %>

    <script>document.location = "/home"</script>

<% end %>